

.rtl-128fb87-MuiDataGrid-toolbarContainer{
    align-self: flex-end !important ;
    padding-bottom: '20px' !important;
    /* background-color: :blue; */
}
.custom-cell {
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
  }