@font-face {
  font-family: 'yekan';
  src: url('./Asset/Fonts//YekanBakhFaNum-Regular.ttf'),
       url('./Asset/Fonts/YekanBakhFaNum-Regular.ttf') ;
  /* Add formats for other font file types if applicable */
  /* Specify the correct paths to your font files */
  /* Adjust the font-family name and file names accordingly */
}
*{
  margin: 0;
  padding: 0;
}

